extends layout

block content
  h1= title
  - let shoeid = toShow._id
  - let shoecategory = toShow.shoeCategory
  - let shoebrand = toShow.brand
  - let shoesize = toShow.size

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{shoeid}
  - let actionid = "/resource/shoes/" + shoeid
  form(id='ShoeForm', action=actionid, method="PUT")
    div.form-group
        label.shoeAttr(for='shoeCategory') Shoe Category
        input#shoeCategory(type='text', name='shoecategory' value=shoecategory)
    div.form-group
        label.shoeAttr(for='brand') Shoe Brand
        input#shoebrand(type='text', name='brand' value=shoebrand)
    div.form-group
        label.shoeAttr(for='size') Shoe Size
        input#shoesize(type='number', name='size' value=shoesize)
    input(type="submit")

  script.
    document.forms['ShoeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
