extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let shoeid = toShow._id
    - let shoecategory = toShow.shoeCategory
    - let shoebrand = toShow.brand
    - let shoesize = toShow.size
    - let actionid = "/resource/shoes/" + shoeid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='shoeAttr mr-3') Shoe ID is:
        div #{shoeid}
      div.row
        div(class='shoeAttr mr-3') Shoe Category is:
        div #{shoecategory}
      div.row
        div(class='shoeAttr mr-3') Shoe Brand is:
        div #{shoebrand}
      div.row
        div(class='shoeeAttr mr-3') Shoe Size is:
        div #{shoesize}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/shoes'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/shoes'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
