extends layout

block content
  h1= title
  - let shoes = results
  //- - let shoes = [{shoeCategory:"Formal",shoeBrand:"Clarks",price:140},{shoeCategory:"Casual",shoeBrand:"Vans",price:120},{shoeCategory:"Sports",shoeBrand:"Nike",price:"110"}]
  div(class="container-fluid")
  div(class="row m-1")
    each item,index in shoes
      - let destination = `dispatch(\"/shoes/update?id=${item._id}\")`
      div(class="col-sm-2" style="background-color:gray; margin:2px") Category: #{item.shoeCategory}, Brand: #{item.brand}, Size: #{item.size}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script. 
    function buy(index){
        alert(`You purchased item ${index+1}`);
    }
    function dispatch(path){
    window.location.href=path
    }